.content {
  height: 100vh;
  overflow: hidden;
  display: flex;

}
.falling-snow {
  height: 100vh;
  width: 100vw;
}

@keyframes fall-y {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

@keyframes fall-x {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-40px);
  }
  75% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@for $i from 1 through 12 {
  .item-#{$i} {
    top: -10%;
    left: ($i * 8vw);
    animation-delay: $i * 1s;

  }
}
.small-snow {
  animation-name:fall-y, fall-x;
  animation-duration: 10s, 10s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.middle-snow {
  animation-name:fall-y, fall-x;
  animation-duration: 15s, 10s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.large-snow {
  animation-name:fall-y, fall-x;
  animation-duration: 20s, 15s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}